h3 {
    border-radius: 25px;
}

#prvinaslov {
    animation: animacija1 3s ease-in-out;
    position: relative;
  
}

@keyframes animacija1{
    0% {
        top: -30px;
        opacity: 0;
    }
    50% {
        top: -15px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
        opacity: 1.0;
    }
}

#druginaslov {
    animation: animacija2 3s ease-in-out;
    position: relative;
    
}

@keyframes animacija2{
    0% {
        top: -30px;
        opacity: 0;
    }
    50% {
        top: -15px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
        opacity: 1.0;
    }
}

span {
    font-style: italic;
}

ul {
    list-style-image: url(turn-right.png);
}

div, ul, p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#prvi {
    text-indent: 35px;
}

a:hover {
    text-decoration: none;
}
.carousel-item {
    text-align: center;
}
#poslednji {
    text-align: center;
}
#poslednji p {
    font-size: 25px;
}
.ikonice {
    height: 25px;
    width: 25px;
}



